header,
footer {
  background-color: #0a0a0a;
  color: #fcfcfc;
}

header a:hover,
header img:hover {
  filter: brightness(25%);
}

.banner > h1 {
  text-shadow: none;
}

h2,
strong {
  color: #0a0a0a;
}

.example_area img {
  background: #0a0a0a;
  border: solid 0.5vh #0a0a0a;
}

.text {
  width: 50%;
}
